<div class="flex gap-3 pt-3">
    <a href="https://github.com/gmrms/mozzarella.pizza" target="_blank">
        <img src="/icons/github.svg"/>
    </a>
    <a href="https://twitter.com/mozzarelling" target="_blank">
        <img src="/icons/twitter.svg"/>
    </a>
</div>

<style>
    img {
        opacity: 0.3;
        height: 25px;
        filter: brightness(0);
    }
</style>