---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" as="font" type="font/ttf"  href="/fonts/Arvo/Arvo-Regular.ttf" crossorigin="anonymous">
		<link rel="preload" as="font" type="font/ttf"  href="/fonts/Noto_Sans/NotoSans-Regular.ttf" crossorigin="anonymous">
		<link rel="preload" as="font" type="font/ttf"  href="/fonts/Noto_Sans/NotoSans-Bold.ttf" crossorigin="anonymous">
		<link rel="preload" as="font" type="font/ttf"  href="/fonts/Noto_Sans/NotoSans-LightItalic.ttf" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/styles/fonts.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Arvo', serif;
	}
	html {
		font-family: 'Noto Sans', sans-serif;
	}
	.font-title {
		font-family: 'Arvo', serif;
	}
	.font-body {
		font-family: 'Noto Sans', sans-serif;
	}
</style>
