---
import Layout from '../layouts/Layout.astro';
import Analytics from '../components/Analytics.svelte';
import DailyPizza from '../components/DailyPizza.astro';
import Main from '../components/layout/Main.astro';
import PizzaDefinition from '../components/PizzaDefinition.astro';
import Footer from '../components/layout/Footer.astro';
import Content from '../components/layout/Content.astro';
---

<Layout title="the best">
	<Analytics client:load />
	<Content>
		<Main>
			<DailyPizza />
			<PizzaDefinition />
			<h3 class="text-sm font-bold w-full text-center mt-12">just the best</h3>
		</Main>
		<!-- <Footer/> -->
	</Content>
</Layout>

<style>
</style>
